.container {
  display: grid;

  max-width: 1320px;
  margin: 50px auto;
  padding: 0 20px;

  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
}

.heading {
  font-weight: 400;

  margin: 0 0 20px;

  text-align: center;
  text-transform: capitalize;
}

.remoteFiles__shareInfo {
  margin: 30px 0 20px;

  text-align: center;
}

.remoteFiles__shareLink {
  display: flex;
  justify-content: center;
}

.remoteFiles__spinner {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

.remoteFiles__qr {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.remoteFiles__qr > svg {
  border-radius: 10px;
}

@media (max-width: 1050px) {
  .container {
    gap: 50px;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container__your_files {
    grid-row: 2;
  }
}
