.inputGroup {
  position: relative;

  width: 100%;
  max-width: 400px;

  color: var(--color-text-inverse);
}

.input {
  width: 100%;
  padding: 8px 64px 8px 10px;

  text-overflow: ellipsis;

  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  outline: none;
  background-color: var(--color-secondary);
}

.btn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 100%;

  transition: color .1s, background-color .1s;
  transition: .12s ease-in-out;

  color: var(--color-text);
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  outline: none;
  background-color: var(--color-primary);
}

.btn:focus,
.btn:hover {
  transform: scale(1.05);

  color: var(--color-text-inverse);
  box-shadow: 0 0 4px var(--color-text-inverse);
}

.icon {
  height: 26px;

  fill: currentColor;
}
