.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.heading {
  font-size: 56px;
  font-weight: 900;

  margin: 0;

  text-transform: capitalize;
}

.lead {
  font-size: 32px;
  font-weight: 600;

  margin: 0;

  text-transform: lowercase;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: var(--color-primary);
}

@supports (backdrop-filter: blur(0)) {
  .backdrop {
    background-color: var(--color-primary-60);

    backdrop-filter: blur(10px);
  }
}

.spinnerContainer {
  width: 200px;
  height: 200px;
}
