.header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 70px;

  background-color: var(--color-primary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1520px;
  margin: 0 20px;
}

.connectionState {
  display: flex;
  align-items: baseline;
}

.connectionStatus {
  display: block;

  width: 10px;
  height: 10px;
  margin-right: 10px;

  border-radius: 50%;
  background-color: var(--color-secondary);
}

.connectionStatus_connected {
  background-color: var(--color-progress);
}

.disconnect {
  padding: 10px;

  border: 1px solid currentColor;
  border-radius: 5px;
  background-color: transparent;
}
