.heading {
  font-size: 32px;

  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.spinner {
  position: absolute;

  display: inline-block;

  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 6px;
}
