.heading {
  font-size: 32px;
  font-weight: 600;

  margin: 40px 0 20px;

  text-align: center;
}

.connectionBox {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 41px;
  padding: 0 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.spinner {
  width: 64px;
  height: 64px;
  margin: 32px auto;
}

.connectionStatus {
  width: 260px;
  padding: 10px;

  text-align: center;
  text-transform: capitalize;

  color: var(--color-text-inverse);
  border-radius: 5px;
  background-color: var(--color-secondary);
}

.noFiles {
  font-size: 24px;
  font-weight: 600;

  margin: 0;

  text-align: center;
}
